.layout {
  min-height: 100vh;
}

.logo {
  float: left;
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
}

.content {
  padding: 50px;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}